<div class="modal" tabindex="-1" role="dialog" id="beta_modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content x-large-size">
      <div class="modal-body beta-modal-body">
        <h1 class="fsz-32 c-black ff-ssp mb-5">Welcome to the Beta!</h1>
        <p class="font-weight-bolder ff-os c-black mb-5">
          Welcome to the 1oh1 Beta. Like you, we are passionate about learning and development and have created a hub that we think enhances that experience in a fast, fun, and unique way.  Please keep in mind that we are testing out some new stuff, often under stress conditions. Be prepared for a bump or two as we learn and grow alongside you. With this being said, jump in, have a blast and please give us your honest feedback at <a href="mailto:support@1oh1.org">support@1oh1.org</a>.
        </p>

        <div class="row border-top m-0 pt-4 align-items-baseline">
          <div class="col-auto pl-0">
            <img class="my-2" src="<%=image_path('heart.png')%>" height="35" alt="heart">
            <img class="my-2" src="<%=image_path('logo.png')%>" height="35" alt="logo">
          </div>
          <div class="col"></div>
          <div class="col-auto px-0">
            <button class="btn btn-success rounded-pill my-2" data-dismiss="modal">
              Let's go!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
