<nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content border-right">
            <!-- sidebar-brand  -->
            <div class="sidebar-item sidebar-brand">
                <a href="#"></a>
            </div>
            <!-- sidebar-header  -->
            <div class="mt-4">            
              <div class="my-2">
                <a href="/profiles" class="mx-3 p-1 rounded d-block linkProfile">
                  <i class="material-icons align-middle c-light-gray fsz-19 ml-2">home</i>
                  <span class="txtcolor no-break mx-1">Profile</span>
                </a>
              </div>
              <div class="my-2">
                <a href="/messages" class="mx-3 p-1 rounded d-block linkMessages">
                  <i class="material-icons align-middle c-light-gray fsz-19 ml-2">forum</i>
                  <span class="txtcolor no-break mx-1">Messages</span>
                </a>
              </div>
              <div class="my-2">
                <a href="/notifications" class="mx-3 p-1 rounded d-block linkNotifications">
                  <i class="material-icons align-middle c-light-gray fsz-19 ml-2">notifications</i>
                  <span class="txtcolor no-break mx-1">Notifications</span>
                </a>
              </div>

              <div class="my-2">
                <a href="/calendars" class="mx-3 p-1 rounded d-block linkCalendar">
                  <i class="material-icons align-middle c-light-gray fsz-19 ml-2">insert_invitation</i>
                  <span class="txtcolor no-break mx-1">Calendar</span>
                </a>
              </div>

              <div class="my-2">
                <a href="/bookings" class="mx-3 p-1 rounded d-block linkSessions">
                  <i class="material-icons align-middle c-light-gray fsz-19 ml-2">people</i>
                  <span class="txtcolor no-break mx-1">My Sessions</span>
                </a>
              </div>

              <div class="my-2">
                <a href="/chests" class="mx-3 p-1 rounded d-block linkChest">
                  <i class="material-icons align-middle c-light-gray fsz-19 ml-2">table_chart</i>
                  <span class="txtcolor no-break mx-1">Chest</span>
                </a>
              </div>

              <div class="my-2">
                <a href="/helps" class="mx-3 p-1 rounded d-block linkHelp">
                  <i class="material-icons align-middle c-light-gray fsz-19 ml-2">settings</i>
                  <span class="txtcolor no-break mx-1">Settings</span>
                </a>
              </div>
            </div>

<!--             <div class="gridperfil ">
                  <div class="imgicon">
                    <a href="/profiles">
                      <i class="material-icons icons linkProfile">home</i>
                    </a>
                  </div>
                  <div class="celroja">
                    <a href="/profiles" class="txtcolor linkProfile no-break">Profile</a>
                  </div>
                  <div class="celroja imgicon">
                    <a href="/messages">
                      <i class="material-icons icons linkMessages">forum</i>
                    </a>
                  </div>
                  <div class="celroja">
                    <a href="/messages" class="txtcolor linkMessages no-break">Messages</a>
                  </div>
                  <div class="celroja imgicon">
                    <a href="/calendars">
                      <i class="material-icons icons linkCalendar">insert_invitation</i>
                    </a>
                  </div>
                  <div class="celroja">
                    <a href="/calendars" class="txtcolor linkCalendar no-break">Calendar</a>
                  </div>
                  <div class="celroja imgicon">
                    <a href="/bookings">
                      <i class="material-icons icons linkSessions">people</i>
                    </a>
                  </div>
                  <div class="celroja">
                    <a href="/bookings" class="txtcolor linkSessions no-break">My Sessions</a>
                  </div>
                  <div class="celroja imgicon">
                    <a href="/chests">
                      <i class="material-icons icons linkChest">email</i>
                    </a>
                  </div>
                  <div class="celroja">
                    <a href="/chests" class="txtcolor linkChest no-break">Chest</a>
                  </div>
                  <div class="celroja imgicon">
                    <a href="/helps">
                      <i class="material-icons icons linkHelp">help</i>
                    </a>
                  </div>
                  <div class="celroja">
                    <a href="/helps" class="txtcolor linkHelp no-break">Quick Help</a>
                  </div>


            </div> -->
        </div>
    </nav>
