<div class="modal fade" id="newEventInsufficientCoin" tabindex="-1" role="dialog" aria-labelledby="newEventInsufficientCoin" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="time-conflict-icon mt-3">
            <i class="material-icons">close</i>
        </div>
        <h6 class="mt-3">
           <b>Your current balance is <span class="balancePlaceHolder"></span> coins and you want to book a session with
           <span class="pricePlaceHolder"></span>
           coins, so you need <span class="remainingCoinPlaceHolder"></span> more coins to book this session.</b>
        </h6>
        <p class="mt-2">
            You can either adjust the total time for the session you are booking or acquire more coins though the market or guiding other explores.
        </p>
      </div>
      <div class="modal-footer justify-content-center mb-3 pt-0">
        <a href="/markets" class="btn btn-outline-dark">Market
        </a>
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>