<div style="line-height: 1.8; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;">
    <div style="vertical-align: middle;font-size: 13px;width: 72px;display: inline-block;color: #000000;font-weight: 600">
    	   <%=title%>
    </div>
    <div style="vertical-align: middle; text-align: right; display: inline-block;margin-top: 2px;width: 100px;text-align: right">
        <span style="vertical-align: middle;font-size: 13px;color: #000000;font-weight: 600">
                <%=value%>
        </span>
        <img style="vertical-align: middle;" width="25" src="<%=image_path('coin.png') %>"/>
    </div>
</div>
