<h1 class="heading">
	Reset your password
</h1>

<p class="font-weight-bolder fsz-14 mt-3">
	We will send password reset instructions to your email
</p>

<div class="CardLayout__content">
	<div class="form-group">
	  <label for="signInLostPasswordEmail">Email address</label>
	  <%= f.email_field :email ,class: "form-control", id: "signInLostPasswordEmail", required: 'true'%>
	</div>

	<div class="text-right my-5">
	  <div class="btn btn-link" id="btnSignInForgotPasswordBack">
	  	Back
	  </div>

	  <%= f.submit "Reset password", class: "btn btn-success", value: "Reset password", required: 'true'%>
	</div>
</div>

<div class="CardLayout__footer CardLayout__footer--with-separator">
	
</div>