<div class="centerXY">
  <div class="text-center">
    <div class="d-inline-block position-relative">
      <img src="<%=image_path('credit-card.png')%>" alt="credit card">

      <div class="d-inline-block p-5 rounded-circle credit-card-big-icon bgc-green">
        <img class="centerXY" src="<%=image_path('round_check_white_48dp.png')%>" alt="">
      </div>
    </div>
  </div>

  <h1 class="mt-4 fsz-32 c-black ff-ssp text-center">Success!</h1>

  <p class="mt-3 ff-os fsz-14 text-center font-weight-bolder">
    Your payment was successful if there is a problem<br>
    with the coin transfer please contact us right away.
  </p>

  <div class="my-5 text-center">
    <a class="btn btn-success rounded-pill" style="min-width: 150px">Continue</a>
  </div>
</div>