<div id="filterrific_results" class="conversations-wrap position-relative">
  <div>
    <%= render partial: 'user_list', collection: users,as: :user,locals:{other_user: @other_user_id}%>
  </div>
</div>
