<div class="modal fade" id="newEventTimeConflict" tabindex="-1" role="dialog" aria-labelledby="newEventTimeConflict" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center small-size">
      <div class="modal-body">
        <div class="mt-5">
        	<i class="material-icons c-red-500" style="font-size: 100px">highlight_off</i>
        </div>
        <h3 class="c-black"><b>Time conflict</b></h3>
        <p class="mt-3 c-black px-4">
        	The times for at least two events overlap. Please select a different time.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link border rounded-pill" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
