<div class="profile-navbar">
    <%= render 'landing/navbar' %>
</div>

<div class="page-wrapper default-theme sidebar-bg bg1 helpActive">

    <%= render 'profiles/side_bar' %>
    <!-- page-content  -->
    <main class="page-content">
        <div id="sidebar-overlay" class="overlay"></div>
        <div class="mainContent">
            <!-- <i id="responsiveMenu" class="material-icons">more_vert</i> -->
            <%= render 'help_profile' %>
        </div>
        <%= render 'landing/footer'%>
    </main>
    <!-- page-content" -->
</div>
