<div class="centerXY ">
	<div>
		<img src="<%=image_path('hourglass.png')%>" alt="time out">
	</div>

	<h1 class="mt-5 fsz-32 c-black ff-ssp text-center">Link has expired</h1>

	<p class="mt-3 ff-os fsz-16 text-center font-weight-bolder">
		Sorry the link has either expired or is broken <br>
		Try Searching or go to the <a href="/" data-turbolinks="false" class="fsz-16 c-deep-blue">Home Page</a>
	</p>
</div>
