.c-black {
	color: #000;
}
.c-white {
	color: white!important;
}
.c-gray {
	color: #AAAAAA!important;
}
.c-light-gray {
	color: #565a5c;
}
.c-darker-gray {
	color: #858385;
}
.c-dark-gray {
	color: #838383!important;
}
.c-light-blue {
	color: #858899!important;
}
.c-blue {
	color: #2196f3!important
}
.c-deep-blue {
	color: #00679F!important;
}
.c-red-500 {
	color: #f44336!important;
}
.c-green-500 {
	color: #4caf50!important;
}
.c-deep-green {
	color: #69C90A;
}
.bgc-light-blue-500 {
	background-color: #03a9f4!important;
}
.bgc-black {
	background-color: black!important;
}

.bgc-red {
	background-color: #de050f;
}
.bgc-green {
	background-color: #78ad39;
}

.bgc-white {
	background-color: white!important;
}
.bgcH-white:hover {
	background-color: white!important;
}
.bgc-very-light-blue {
	background-color: #F3F7F4;
}
.bgc-light-grey {
	background-color: #fafafa;
}