.navigation-link {
	color: #797C7F!important;
	text-decoration: underline!important;
	font-size: 15px;
}

.tab-link {
	color: #8BC63F;
    padding-bottom: 10px;
    border-bottom: 2px solid #8BC63F;
    font-size: 17px;
    font-weight: 500;
}