.notification-icon-placeholder {
	background-color: transparent;
	background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    position: relative;
    text-align: center;
}
.unread-notification {
	background-color: #e3f5d2;
}