<div id="filter_results_all_listing">
  <%=render partial: 'categories/explorers',locals:{explores: explores,filter:filter,category: category}%>
  <%=render partial: 'categories/guides',locals:{guides: guides,filter:filter,category: category}%>
</div>
